#text {
    height: 40px;
    width: 50%;
    background: aliceblue;
    border: none;
    border-radius: 5px;
    outline-color: rgb(0, 4, 255);
    padding: 1%;
    box-shadow: 0px 15px 10px rgb(54, 34, 235);
    margin-left: 25%;

}

body {
    display: flex;
    flex-direction: coloumn;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#570ae0, #00cbf2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.info_text {
    color: white;
    letter-spacing: 5px;
    margin: 10px
}

#add {
    width: 200px;
    padding: 1.8%;
    box-shadow: 0px 15px 10px rgb(54, 34, 235);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background: linear-gradient(#ff0000, #F44336);
    color: white;
    font-size: large;
    letter-spacing: 1px;

}

#tbx {
    transition: all 0.9s;
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    flex-wrap: wrap;
 


}

.all {
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    border: none;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px rgb(21, 232, 214);
    width: 50%;


}

.Taskname {
    color: blue;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;

    text-overflow: ellipsis;
    word-wrap: break-word;

}

.fix {
  
    width:100%;
    word-wrap: break-word;
}

.dlt {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 10px;
}

.function {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.edit button {
    border: none;
    width: 100px;
    padding: 2%;
    height: 25px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    letter-spacing: 4px;
    font-weight: bold;
}

.time {
    border: 2px solid black;
    width: 300px;
    text-align: center;

    padding: 5px;
    color: crimson;

    border: none;
    font-family: sans-serif;
}